@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.root {
    width: 100%;
    max-width: 100%;
}

html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Inter', monospace, sans-serif;
    overflow-x: hidden;
    color-scheme: dark;
}

body {
    scrollbar-gutter: stable;
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    @apply border-neutral-400 dark:border-neutral-700 border-2 rounded-lg;
}

.hvr-hover {
    .hvr-regular {
        display: block;
    }
    .hvr-alt {
        display: none;
    }

    &:hover {
        .hvr-regular {
            display: none;
        }
        .hvr-alt {
            display: block;
        }
    }
}

.bluebutton {
    @apply bg-accent-blue-normal hover:bg-accent-blue-normal hover:brightness-90 transition-all text-white;
    &:hover {
        --tw-scale-x: 1.02;
        --tw-scale-y: 1.02;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
}

.containerd {
    @apply max-w-4xl w-full px-4 mx-auto;
}

.link {
    @apply text-neutral-400 hover:brightness-75 hover:underline;
}
